<!DOCTYPE html>
<html>
    <head>
        <title>
            Practical Wisdom
        </title>
        <link href="/stylesheets/main.css" rel="stylesheet" type="text/css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    </head>
    <body>
        
    <div class="container">
        <header id="jumbo-header" class="jumbotron">
            <div class="container">
                <h1><i class="fa fa-lightbulb-o light" aria-hidden="true"></i>Found Wisdom of Great Books</h1>
                <p>Sharing Ideas That Make Your World Better</p>
            </div>
            </header>
        <hr>
    </div> 