<% include partials/header %>

<h2>What can we learn from the 7 Habits of Highly Effective People?</h2>

<p>
    Stephen Covey lays out time tested habits that are based on fundamental laws of life in human being. He discusses
    key practices in self direction as well as key practices in collaboration and negotiation. He researched all of the
    best business and self development books of the last 2000 years while working on his PhD. This is one of the most
    solid books in this genre and is certainly one of the best sellers in it.
</p>

<h2>What are the most important teachings in 7 Habits?</h2>

<h3>Be Proactive</h3>

<p></p>

<h3>Second teaching headline</h3>

<p></p>

<h3>Third teaching headline</h3>

<p></p>




<% include partials/footer %>