<% include partials/header %>

<h2>What is the point of Atomic Habits?</h2>

<p>This is a practical guide on how to modify your habits. It incorporates many recent psychological
insights into behavior to help you smoothly modify your habits.</p>
<p>
    This book will help you acquire the behaviors of the person you want to be.
</p>

<h2>What are the most important teachings in Atomic Habits?</h2>

<h3>Four Part Model of Habit Change</h3>

<p>For habits you want try to make it obvious to do it, attractive, easy but progressively more challenging, and
finally satisfying. For habits you don't want try to make it harder to do, less attractive, hard to do, and not satisfying.</p>

<h3>The Habit Stack Tactic</h3>

<p>In order to make it more likely you will remember to do your habit you can pair it with something youwant to do.
You say "when I want to do the habit I crave I will first have to do the habit I'm trying to learn and then after I 
will be able to do my original, wanted habit.</p>

<h3>The Environment Principle</h3>

<p>You want to set up your environment so that it makes it more likely you will do your new habit. Leave the tools
to be used out in the open. Designate a certain area in which the only thing you do is your habit. Remove stuff
associated with a habit you want to break.</p>




<% include partials/footer %>