<% include partials/header %>

<div class="container">
    <header id="jumbo-header" class="jumbotron">
        <div class="container">
           <h1><i class="fa fa-lightbulb-o" aria-hidden="true"></i>Found Wisdom of Great Books</h1>
           <p>Sharing Ideas That Make Your World Better</p>
        </div>
    </header>
</div> 


<div class="container"
    <div class="col-lg-12">
        <!--<hr id="top-hr">-->
            <div class="p-background">
                <p>
                    My name is Matt Sylvester. At about age 19 I was bitten by the bug for practical truth. I learned that the human brain 
                    is a machine that, at least in consciousness, largely runs on beliefs. If you have bad fuel (bad beliefs) 
                    the results of your decisions will be painful. If you can get some good beliefs that are based
                    on solid foundations, then you are more likely to make good decisions and therefore have better 
                    results which is what everyone is looking for.
                </p>
                <p>
                    Good non-fiction books all contain some good, truthful beliefs. These beliefs can make you look at 
                    problems in your own life in a whole new light and this can be the seed of rapid progress. These 
                    books are honestly worth more than their weight in gold for the success and problem solving they 
                    can bring into the chaos of life which we are always trying to better navigate. Below are books that
                    have heavily impacted how I see the world. For each book I will share what I think are its most important
                    teachings.
                </p>
            </div>
        <hr id="btm-hr">
    </div>
    
</div> 



<div class="container">
    <div class="row top-thumb">
        <div class="col-md-4">
                <div class="thumbnail">
                    <img class="img-responsive thumb-img" src="https://images-na.ssl-images-amazon.com/images/I/41ylBBBhYjL.jpg">
                    <div class="caption-full">
                        <!--<h4 class="pull-right">$9.00/night</h4>-->
                        <h4 class="name">Peak</h4>
                        <p class="blurb">Keys to developing expertise.</p>
                    </div>
                </div>
                
        </div>
        <div class="col-md-4">
                <div class="thumbnail">
                    <img class="img-responsive thumb-img" src="https://images-na.ssl-images-amazon.com/images/I/71LRdEUOmNL.jpg">
                    <div class="caption-full">
                        <!--<h4 class="pull-right">$9.00/night</h4>-->
                        <h4 class="name">Mastery</h4>
                        <p class="blurb">Principles of getting to the apex of your field</p>
                    </div>
                </div>
                
        </div>
        <div class="col-md-4">
                <div class="thumbnail">
                    <img class="img-responsive thumb-img" src="https://images-na.ssl-images-amazon.com/images/I/51fEYMhtHoL.jpg">
                    <div class="caption-full">
                        <!--<h4 class="pull-right">$9.00/night</h4>-->
                        <h4 class="name">The Seven Habits of Highly Effective People</h4>
                        <p class="blurb">The seven most important habits for success.</p>
                    </div>
                </div>
                
        </div>
        
    </div>
    
    <div class="row btm-thumb">
        <div class="col-md-4">
                <div class="thumbnail">
                    <img class="img-responsive thumb-img" src="https://images-na.ssl-images-amazon.com/images/I/5113lJZJQuL._SX326_BO1,204,203,200_.jpg">
                    <div class="caption-full">
                        <!--<h4 class="pull-right">$9.00/night</h4>-->
                        <h4 class="name">Waking Up</h4>
                        <p class="blurb">A modern guide to spirtuality without religion.</p>
                    </div>
                </div>
                
        </div>
        <div class="col-md-4">
                <div class="thumbnail">
                    <img class="img-responsive thumb-img" src="https://images-na.ssl-images-amazon.com/images/I/91yqmqsH7pL.jpg">
                    <div class="caption-full">
                        <!--<h4 class="pull-right">$9.00/night</h4>-->
                        <h4 class="name">Atomic Habits</h4>
                        <p class="blurb">Strategies for creating the habits you want.</p>
                    </div>
                </div>
                
        </div>
        <div class="col-md-4">
                <div class="thumbnail">
                    <img class="img-responsive thumb-img" src="https://images-na.ssl-images-amazon.com/images/I/81o--FP-hPL.jpg">
                    <div class="caption-full">
                        <!--<h4 class="pull-right">$9.00/night</h4>-->
                        <h4 class="name">Mindset</h4>
                        <p class="blurb">Discusses how our theories of learning influence our learning and performance</p>
                    </div>
                </div>
                
        </div>
        
    </div>

</div>

<!--<div class="container">  -->
<!--    <div class="row">-->
        <!--<div class="col-sm-6 col-md-4">-->
<!--            <div class="col-lg-4">-->
<!--            <div id="top-row" class="thumbnail">-->
<!--                <img src="https://images-na.ssl-images-amazon.com/images/I/41ylBBBhYjL.jpg">-->
<!--                <div class="caption">-->
                    <!--<h3 style="font-size:10px;position:relative;left:35px;top:-27px;font-family:Myriad Pro;color:white;">Peak</h3>-->
<!--                    <h3>Peak</h3>-->
<!--                    <p>Discusses what really enables expertise to come to fruition.</p>-->
<!--                    <p><a href="#" class="btn btn-primary btn-ok" role="button">Read More</a></p>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--</div> -->

 
 <!--Peak-->
 <!--https://images-na.ssl-images-amazon.com/images/I/41ylBBBhYjL.jpg-->

<!--Mastery-->
<!--https://images-na.ssl-images-amazon.com/images/I/71LRdEUOmNL.jpg-->

<!--Waking Up-->
<!--https://images-na.ssl-images-amazon.com/images/I/5113lJZJQuL._SX326_BO1,204,203,200_.jpg-->

<!--Seven Habits-->
<!--https://images-na.ssl-images-amazon.com/images/I/51fEYMhtHoL.jpg-->

<% include partials/footer %>