<% include partials/header %>

<h1>Found Wisdom of 5 Great Books</h1>

<div id="home intro">
    <h3>Sharing Ideas That Make Your World Better</h3>
    <p>
        At about age 19 I was bitten by the bug for practical truth. I learned that the human brain 
        is a machine that, at least in consciousness, runs on beliefs. If you have bad fuel (bad beliefs) 
        the results of your decisions will be painful. If you can get some good beliefs that are based
        on solid foundations, then you are more likely to make good decisions and therefore have better 
        results - what everyone is looking for.
    </p>
    <p>
        Good non-fiction books all contain some good, truthful beliefs. These beliefs can make you look at 
        problems in your own life in a whole new light and this can be the seed of rapid progress. These 
        books are honestly worth more than their weight in gold for the success and problem solving they 
        can bring into the chaos of life which we are always trying to better navigate.
    </p>
    <p>
        So for the books below I have summarized some of the best teachings I've come across in all
        my time reading.
    </p>
</div>




<% include partials/footer %>