<% include partials/header %>

<h2>What is the point of Mastery?</h2>

<p>Mastery elucidates key practices in becoming a master in the niche that correlates with your life's purpose.
Through analysis of past masters the book spells out time tested rules for moving from apprentice to master. Not
only are principles of learning discussed at length but also rules for navigating the social problems faced in 
achieving mastery.
</p>

<h2>What are the most important teachings in Mastery?</h2>

<h3>First teaching headline</h3>

<p></p>

<h3>Second teaching headline</h3>

<p></p>

<h3>Third teaching headline</h3>

<p></p>




<% include partials/footer %>