<% include partials/header %>

<h2>What is the point of Peak?</h2>

<p>Peak argues that the pathway to expertise is always always always punctuated by
thousands of hours of deliberate practice. It also argues that talent without deliberate
practice is wasted potential that does not result in the level of expertise that could 
otherwise be achieved.</p>

<h2>How does Peak prove this?</h2>

<h3>First:</h3>

<p></p>

<h3>Second:</h3>

<h3>Third:</h3>





<% include partials/footer %>