<% include partials/header %>

<h2>What is the point of waking Up?</h2>

<p>Spirtuality is usually thought to be synonymous with religion in most people's minds. In this book Harris shows how
to develop a spiritual practice whether or not you are a religious believer. Drawing on teachings from buddhism mostly
he argues strongly that developing present mindedness through meditation is one of the most rewarding practices a person
can undertake. He also discusses the nature of consciousness in great depth with elements of philosophy embedded within.
</p>
<p>
    This book will help you become more at peace, more knowledgeable about the philosophy of mind, and more aware of the
    benefits and hindrances of different religions in becoming more present minded.
</p>

<h2>What are the most important teachings in Mastery?</h2>

<h3>First teaching headline</h3>

<p></p>

<h3>Second teaching headline</h3>

<p></p>

<h3>Third teaching headline</h3>

<p></p>




<% include partials/footer %>